<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit Department</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')" 
                        	department="form" 
                        	action="#" 
                        	th:action="@{/admin/department/save}" 
                        	th:object="${department}" 
                        	method="post">
                            <div class="card-body">
            					<div class="form-group">
                                    <label for="departmentId1">Department Id</label>
                                    <input type="text" class="form-control" id="id1"  th:field="*{id}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="departmentName1">Department Name</label>
                                    <input type="text" class="form-control" id="departmentName1" th:field="*{name}">
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="script">
    <script>
        console.log("Add Department");
    </script>
</th:block>

</body>
</html>
