<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin_layout">
<head>
<meta charset="UTF-8">
<title>Success</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
										<form class="form-inline ml-3" th:action="@{/search}">
							<div class="input-group input-group-sm">
								<input class="form-control form-control-navbar" type="text"
									placeholder="Search" aria-label="Search" name="keyword"
									id="keyword" th:value="${keyword}" required>
								<select class="form-control form-control-navbar" id="searchBy" 
								name="searchBy"
								th:value="${searchBy}" required>
										<option th:value="code">Code</option>
										<option th:value="lastName" sec:authorize="hasAnyAuthority('ADMIN')">Last Name</option>
										<option th:value="firstName" sec:authorize="hasAnyAuthority('ADMIN')">First Name</option>
								</select>	
									
								<input type="hidden"
									 name="role"
									id="role" th:value="${keyword}" required>	
								<div class="input-group-append">
									<button class="btn btn-navbar" type="submit" value="Search">
										<i class="fas fa-search"></i>
									</button>
									<button class="btn btn-navbar" type="button" value="Clear"
										id="btnClear" onclick="clearSearch()">
										<i class="fas fa-clear"></i>
									</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title" sec:authorize="hasAnyAuthority('ADMIN','ADMISSION','RECEPTION1','RECEPTION2')" >Issued/Deposited  Tag </h3>
								<h3 class="card-title" sec:authorize="hasAnyAuthority('SUPERADMIN')">Registration of Tag </h3>
								
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<h3 class="card-title" th:if="${pd}" sec:authorize="hasAnyAuthority('ADMIN','ADMISSION','RECEPTION1','RECEPTION2','SUPERADMIN')">
							    <p th:text="'You have successfully submitted  - '+${pd.personalDetails.code}"/>
							   
							</h3>
							<h3 th:unless="${pd}" sec:authorize="hasAnyAuthority('ADMIN','ADMISSION','RECEPTION1','RECEPTION2')">
							    Click <a th:href="@{/admin/personalDetails/list}"> here</a> to list.
							</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Main content -->


	</div>

</th:block>

</body>
</html>
